* {
  font-family: 'Oxygen', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

#configuration {
  color: #FFF;
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: 1em 1em;
  background: rgba(100, 100, 100, 0.4);
}

#time {
  padding: 0 1em;
  font-family: 'Roboto Mono', monospace;
}